body {
  background-color: #f5f7fa;
}

.fas.fa-heart:hover {
  color: #f44336 !important;
}

.fas.fa-share-alt:hover {
  color: #0d47a1 !important;
  body {
    background-color: #f5f7fa;
  }

  .fas.fa-heart:hover {
    color: #f44336 !important;
  }

  .fas.fa-share-alt:hover {
    color: #0d47a1 !important;
  }
}
