<%= render "layouts/searchbar" %>
<%= render "layouts/index_card" %>

<!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <%= render "products/form", { product: @product } %>
      </div>
    </div>
  </div>

<% if user_signed_in? %>
  <div class="container text-center mb-5">
    <%= link_to "+ Add a new Product", "#", class: "btn btn-lg btn-info link-dark border border-white shadow-lg rounded-4", data: { bs_target: '#exampleModal', bs_toggle: 'modal' } %>

  </div>
<% end %>
