<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><%= @product.name %></h1>
    <p class="color-white mt-2 fs-6">STARTING FROM <%= @product.price %>$</p>
  </div>
</div>

<div class="container w-75 mx-auto mt-5 p-5 shadow-lg rounded bg-white">
      <p class="h5 lh-base"><%= @product.overview %></p>
  </div>
</div>
<%= render 'bookings/booking_form' %>
