<div class="m-5 mx-auto">
  <% @products.each do |product| %>
    <div class="card-product">
      <%= cl_image_tag product.photo.key  if product.photo.attached? %>
      <div class="card-product-infos">
        <div class ="truncate">
          <h2><%= link_to product.name, product_path(product) %></h2>
          <p> <%= product.overview %></p>
        </div>
        <div>
          <p><strong>Unit price: <%= product.price %>€</strong></p>
        </div>
      </div>
    </div>
    <br>
  <% end %>
</div>
