<div class="container mt-5">
<<<<<<< HEAD
  <div class="px-10 rounded field">
    <%= form_with url: products_path, method: :get, class: "d-flex rounded-field" do %>
=======
  <div class="px-10 rounded-4">
    <%= form_with url: products_path, method: :get, class: "d-flex" do %>
>>>>>>> master
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a product"
      %>
      <%= submit_tag "Search", class: "btn btn-primary rounded-field" %>
    <% end %>
  </div>
</div>
